.adminTag{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 2%;
    border-radius: 10px;
    background-color: white;

    h1{
        color: black;
    }

    .Absatz{
        color: black;
    }

    .Menschenkette{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 30px;
    }

    h1{
        font-size: large;
        font-family: Ubuntu;
    }


}