* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;

}

.Top { 
    height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top:100px;
      padding-bottom: 100px;
}

.Profil {

    background-color: white;
    background-image: url(../../resources/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

}

.Inhalt {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index:1;
    
}

form .form-inner h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    
}

form .form-inner {
    position: relative;
    display: block;
    background-color: white;
    padding: 30px;
    z-index: 2;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #99cc33;

}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4s;


}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)
}

form .form-inner input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #99cc33;
    font-weight:700;
    cursor: pointer;

}

form .form-inner input[type="submit"]:hover {
background-position: 100% 0%;

}