.teammitglied4{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    display:flex;

    .tillbild{
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
    }

    .tilltext{

        padding-left: 40px;

        
        h1{
        font-size: 17px;
        font-weight: bold; 
        font-family: Ubuntu;

        }
    }

}