.home{
    display: flex;

    flex:6;
    
        .kreis{
    
        
            flex:6;
        }

        .kreisinhalt {
            padding-left: 70px;
            padding-top: 40px;
            padding-right: 95px;

            .tm1 {
                padding-top: 40px;
            }
            .tm2 {
                padding-top: 40px;
            }
            .tm3 {
                padding-top: 40px;
            }
            .tm4 {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        
     }