 .home{
display: flex;
background-color: #EBEBEB;


    .homecontainer{

        flex: 6;
        height: 100%;
        width: 100%;
    
        .startpaketcontainer{
            padding-top: 40px;
            width: 1000px;
            transform: translatex(+85px);

            h1{
                font-size: large;
                font-family: Ubuntu;
            }
        


            .produktcontainer{
                display: flex;
                padding-top: 20px;
                width: 1000px;
                position: relative;
                align-items: center;
            
                gap: 20px;

            }
        }
        
        .box{
            display: flex;
            padding-top: 40px;
            width: 1000px;
            position: relative;
            align-items: center;
            transform: translatex(+70px);
        }

        .widgets{
            width: 1000px;
    }
    }
 }

