
.home{
    display: flex;
        
        .homecontainer{
    
            flex:6;

            .testcontainer{
                    flex:6;
            }
        
            .bildschirmcontainer{
                margin-left: 70px;

                .überschrift{
                    padding-top: 20px;
                    font-size: large;
                }

                .produktcontainer{
                    display: flex;
                    width: 1000px;
                    position: relative;
                    align-items: center;
                    gap: 20px;

                    .AdminBildschirm{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                    }
        
                    .bildschirm{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;

                        }
                    
                }
            }

            .kopfhörercontainer{
                margin-left: 70px;
                padding-top: 40px;

                .überschrift{
                    font-size: large;
                }

                .produktcontainer{
                    display: flex;
                    width: 1000px;
                    position: relative;
                    align-items: center;
                    gap: 20px;
                    
                    .AdminKopfhörer{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                        }
        
                    .kopfhörer{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                        }
                }
            }

            .kleidercontainer{
                margin-left: 70px;
                padding-top: 40px;

                .überschrift{
                    font-size: large;
                }

                .produktcontainer{
                    display: flex;
                    width: 1000px;
                    position: relative;
                    align-items: center;
                   
                    gap: 20px;
        
                    .kleider{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                        }
                }
            }

            .büchercontainer{
                margin-left: 70px;
                padding-top: 40px;

                .überschrift{
                    font-size: large;
                }

                .produktcontainer{
                    display: flex;
                    width: 1000px;
                    position: relative;
                    align-items: center;
                   
                    gap: 20px;

                    .AdminBücher{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                    }
        
                    .bücher{
                        display: flex;
                        flex: 1;
                        padding: 10px ;
                        justify-content: center;
                    
                        .keineWahl{
                            text-align: center;
                            display: table-cell;
                            vertical-align: middle;
                            font-size: large;
                            color: black;
                        
                            height: 200px;
                            width: 200px;
                            border-radius: 10px;
                            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                            background-color: white;
                        
                            &:hover{
                                background-color: #C2DB8e;
                                opacity: 1;
                                }
                        }
                    }
                }
            }

            .homeofficecontainer{
                margin-left: 70px;
                padding-top: 40px;

                .überschrift{
                    font-size: large;
                }
            }

            .wunschboxcontainer{
                margin-left: 70px;
                padding-top: 40px;
                

                .überschrift{
                    font-size: large;
                }

            }

            .speicherbuttoncontainer{
                padding-top: 40px;

                margin-left:70px;
                margin-bottom: 20px;
                
                
            }

        }

     }