.header{
    height: 82px;
    width: 1000px;
    background-color: #ebebeb;
    position: relative;
    border-bottom: 2px solid #99CC33;
    display: flex;
    align-items: center;
    font-size: 130; 
    color: #333333;
    margin-left: 70px;


    .wrapper{
        width: 100%;
        padding: 0px; 
        display: flex;
        align-items: center;
        justify-content: space-between ;

        .überschrift{
            font-size: 35px;
            padding-top: 22px;
        }

        .items{
            display: flex; 

            .einstellungen{
                padding-right: 20px;
                padding-left: 20px;
            }   
        }
    }

}