.meinkreis{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    align-items: center;

    h1{
        color: black;
    }

    .Absatz{
        color: black;
    }

    h1{
        font-size: 20px;
        font-family: Ubuntu;
    }

    h2{
        font-size: 15px;
        font-weight: bold; 
        font-family: Ubuntu;
    }

    h3{
        font-size: 15px;
        font-family: Ubuntu;
    }


          
      }

      .box{

        align-items: center;
      }

      .button{
        padding: 10px;
        text-align: center;
        border: none;
        cursor: pointer;
        background-color: #ffff;

        align-items: center;

      }
      
      .knopf{
          align-items: center;
      }

      .inhalt:not(:last-child){
          margin-bottom: 50px;
      }

      .container{
        position: absolute;
        top: 10%;
        left: 23%;
        width: 50%;
      }
        
      .text{
        display: inline;
        width: 100%;
      }
        
      .read-or-hide{
        color: rgb(192,192,192);
        cursor: pointer;
      }

      .read-more-link{
        color: #333333;
        align-self: center;
        &:hover{
            color: #99CC33;
          }

        
      }
