.sidebar{
  flex: 1;
  height: auto;
  background-color: white;


  .top {

      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      padding-top:50px;
      background-color: white;
      

      .logo1{
        width: 100%;
        height: auto;
      }

    }

  hr{
    height: 200;
    padding: 10%;
    margin: 0%;
    height: 0;
    border-top: 2px solid #99CC33;
    opacity: 1;
    background-color: white;

  }

  .center{
    padding-left: 10px;
    background-color: white;

    .profil{
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 10px;
      padding-right: 20px;



      .profilbild{
        height: 150px;
        margin-bottom: 20px;

      }

    }
    .navigation{
      margin-top: 50px;

    }
    ul{
      list-style: none;
      padding: 0%;
      margin: 0%;
    }

    li{
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      &:hover{
        background-color: #C2DB8e;
        opacity: 1;
      }

      span{
        font-size: 20px;
        font-family: ubuntu;
        font-weight: 400;
        color: #333333;
        margin-left: 15px ;
      }

    }



  }
}
