.startpaket{
display: flex;
flex: 1;
padding: 10px ;
justify-content: center;

}

.mitte{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: large;
    color: black;

    height: 200px;
    width: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: white;

    &:hover{
        background-color: #C2DB8e;
        opacity: 1;
        }
}
